@model ProyectoClase.Parqueo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Parqueo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaentrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaentrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registro.idfactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registro.idfactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idregistro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
