@model IEnumerable<ProyectoClase.Pago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registro.idfactura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registro.idfactura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idpago }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idpago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idpago })
        </td>
    </tr>
}

</table>
